.news-block {
    background-color: $secondary-color3;
    padding: 40px;
    border-radius: 50px 5px;
    margin-bottom: 80px;

    &:last-child {
        margin-bottom: 0;
    }
    &__title {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }
    &__data {
        opacity: 0.5;
    }
    &__text {
    }
}
