@font-face {
    font-family: "gilroy";
    src: local("gilroy bold"), local("gilroy-bold"),
        url("https://makedonskiy-288.github.io/noname/fonts/gilroy/gilroy-bold/gilroy-bold.woff2")
            format("woff2"),
        url("https://makedonskiy-288.github.io/noname/fonts/gilroy/gilroy-bold/gilroy-bold.woff")
            format("woff"),
        url("https://makedonskiy-288.github.io/noname/fonts/gilroy/gilroy-bold/gilroy-bold.ttf")
            format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "gilroy";
    src: local("gilroy medium"), local("gilroy-medium"),
        url("https://makedonskiy-288.github.io/noname/fonts/gilroy/gilroy-medium/gilroy-medium.woff2")
            format("woff2"),
        url("https://makedonskiy-288.github.io/noname/fonts/gilroy/gilroy-medium/gilroy-medium.woff")
            format("woff"),
        url("https://makedonskiy-288.github.io/noname/fonts/gilroy/gilroy-medium/gilroy-medium.ttf")
            format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "gilroy";
    src: local("gilroy semibold"), local("gilroy-semibold"),
        url("https://makedonskiy-288.github.io/noname/fonts/gilroy/gilroy-semibold/gilroy-semibold.woff2")
            format("woff2"),
        url("https://makedonskiy-288.github.io/noname/fonts/gilroy/gilroy-semibold/gilroy-semibold.woff")
            format("woff"),
        url("https://makedonskiy-288.github.io/noname/fonts/gilroy/gilroy-semibold/gilroy-semibold.ttf")
            format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "benzin";
    src: local("benzin regular"), local("benzin-medium"),
        url("https://makedonskiy-288.github.io/noname/fonts/benzin/benzin-medium.ttf")
            format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "benzin";
    src: local("benzin regular"), local("benzin-regular"),
        url("https://makedonskiy-288.github.io/noname/fonts/benzin/benzin-regular.ttf")
            format("truetype");
    font-weight: 400;
    font-style: normal;
}
